@{
    ViewBag.Title = "Routing web map";
}
@section headContent{
    <link href="~/Client/jsLib/leaflet-0.7.2/leaflet.css" rel="stylesheet" />
    <link href="~/Client/jsLib/leaflet.awesome-markers/leaflet.awesome-markers.css" rel="stylesheet" />
    <link href="~/Client/css/less/map.min.css" rel="stylesheet" />
}
@section header{
    <header class="header-content">
        <h2>Qatar Routing Map</h2>
    </header>
}

@{
    var resourceUrl = Url.Content("~/client/data/");    
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">QATAR Routes</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-1 control-label">From</label>
                            <div class="col-sm-4">
                                <select class="form-control col-sm-6" id="routeList-from">
                                    <option value="none">-From-</option>
                                    <option value="USEmbassy">United Stated Embassy</option>
                                    <option value="PearlGarden">Pearl Garden Compound</option>
                                    <option value="TAMUQ">Texas A&M University at Qatar</option>
                                    <option value="FamilyFoodCenter">Family Food Center</option>
                                    <option value="DohaInternationalAirport">Doha International Airport Departure Terminal</option>
                                    <option value="DarSalam">Dar Salam</option>
                                    <option value="AlDareen">Al Dareen</option>
                                </select>
                            </div>
                            <label class="col-sm-1 control-label">To</label>
                            <div class="col-sm-4">
                                <select class="form-control col-sm-6" id="routeList-to">
                                    <option value="none">-Destination-</option>
                                    <option value="USEmbassy">United Stated Embassy</option>
                                    <option value="PearlGarden">Pearl Garden Compound</option>
                                    <option value="TAMUQ">Texas A&M University at Qatar</option>
                                    <option value="FamilyFoodCenter">Family Food Center</option>
                                    <option value="DohaInternationalAirport">Doha International Airport Departure Terminal</option>
                                    <option value="DarSalam">Dar Salam</option>
                                    <option value="AlDareen">Al Dareen</option>
                                </select>
                            </div>
                            <div class="col-sm-2">
                                <button class="btn btn-default" type="button" id="routeBtn" data-url="@resourceUrl">Route</button>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="map" id="map">
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="post" id="directionContainer">
                                <h4>Overview</h4>
                                <p id="directionSummary">
                                    <small>Please select routes.</small>
                                </p>
                                <div class="list-group" id="directionList">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section footerContent {
    <div class="text-center">
        <img src="~/Client/images/esrgc.png" alt="" />
    </div>
}

@section scripts{
    <script src="~/Client/jsLib/leaflet-0.7.2/leaflet.js"></script>
    <script src="~/Client/jsLib/wicket-leaflet/wicket.js"></script>
    <script src="~/Client/jsLib/esri-leaflet/esri-leaflet.js"></script>
    <script src="~/Client/jsLib/wicket-leaflet/wicket-leaflet.js"></script>
    <script src="~/Client/jsLib/leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>
    <script src="~/Client/js/dx/dx.min.js"></script>
    <script src="~/Client/js/dx/map/mapViewer.js"></script>
    <script src="~/Client/js/dx/map/leafletViewer.js"></script>
    @Scripts.Render("~/bundles/apps/routing")
}