.map {
  position: relative;
  margin-bottom: 5px;
  border: 1px solid #dddddd;
  border-radius: 5px;
}
.map .overlay {
  position: absolute;
}
.full-screen {
  position: fixed;
  width: 100%;
  /*height: 100%;*/

  /*z-index: 270000;*/

  top: 0;
  left: 0;
  right: 0;
  bottom: 40px;
}
