@{
    ViewBag.Title = "Routing web map";
}
@section headContent{
    <link href="~/Client/jsLib/leaflet-0.7.2/leaflet.css" rel="stylesheet" />
    <link href="~/Client/jsLib/leaflet.awesome-markers/leaflet.awesome-markers.css" rel="stylesheet" />
    <link href="~/Client/css/less/map.min.css" rel="stylesheet" />
}
@section header{
    <header class="header-content">
        <h2>Qatar Routing Map</h2>
    </header>
}

@{
    var resourceUrl = Url.Content("~/client/data/");    
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">QATAR Routes</div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">From - To</label>
                            <div class="col-sm-8">
                                <select class="form-control col-sm-9" id="routeList" data-url="@resourceUrl">
                                    <option value="none">-Destinations-</option>
                                    <option value="USEmbassy_TAMUQ">United Stated Embassy - Texas A&M University at Qatar</option>
                                    <option value="USEmbassy_PearlGarden">United States Embassy - Pearl Garden Compound</option>
                                    <option value="TAMUQ_USEmbassy">Texas A&M University at Qatar - United States Embassy</option>
                                    <option value="TAMUQ_FamilyFoodCenter">Texas A&M University at Qatar - Family Food Center</option>
                                    <option value="TAMUQ_DohaInternationalAirport">
                                        Texas A&M University at Qatar - Doha International Airport
                                        Departure Terminal
                                    </option>
                                    <option value="PearlGarden_USEmbassy">Pearl Garden Compound - United States Embassy</option>
                                    <option value="PearlGarden_DohaInternationalAirport">
                                        Pearl Garden Compound - Doha International Airport
                                        Departure Terminal
                                    </option>
                                    <option value="FamilyFoodCenter_TAMUQ">Family Food Center - Texas A&M University at Qatar</option>
                                    <option value="DohaInternationalAirport_TAMUQ">Doha International Airport - Texas A&M University at Qatar</option>
                                    <option value="DohaInternationalAirport_PearlGarden">Doha International Airport - Pearl Garden Compound</option>
                                    <option value="DohaInternationalAirport_DarSalam">Doha International Airport - Dar Salam</option>
                                    <option value="DohaInternationalAirport_AlDareen">Doha International Airport - Al Dareen</option>
                                    <option value="DarSalam_DohaInternationalAirport">Dar Salam - Doha International Airport Departure Terminal</option>
                                    <option value="AlDareen_DohaInternationalAirport">Al Dareen - Doha International Airport Departure Terminal</option>
                                </select>
                            </div>
                        </div>
                    </form>
                    <hr />
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="map" id="map">
                                <div class="overlay"></div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="post" id="directionContainer">
                                <h4>Overview</h4>
                                <p id="directionSummary">
                                    <small>Please select routes.</small>
                                </p>
                                <div class="list-group" id="directionList">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section footerContent {
 <div class="text-center">
    <img src="~/Client/images/esrgc.png" alt="" />
 </div>    
}

@section scripts{
    <script src="~/Client/jsLib/wicket-leaflet/wicket.js"></script>
    <script src="~/Client/jsLib/leaflet-0.7.2/leaflet.js"></script>
    <script src="~/Client/jsLib/wicket-leaflet/wicket-leaflet.js"></script>
    <script src="~/Client/jsLib/leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>
    <script src="~/Client/js/dx/dx.min.js"></script>
    <script src="~/Client/js/dx/map/mapViewer.js"></script>
    <script src="~/Client/js/dx/map/leafletViewer.js"></script>
    @Scripts.Render("~/bundles/apps/routing")
}