@{
    ViewBag.Title = "Residence Locator";
}
@section headContent{
    <link href="~/Client/jsLib/leaflet-0.7.2/leaflet.css" rel="stylesheet" />
    <link href="~/Client/jsLib/leaflet.awesome-markers/leaflet.awesome-markers.css" rel="stylesheet" />
    <link href="~/Client/css/less/map.min.css" rel="stylesheet" />
}
@section header{
    <header class="header-content">
        <h2>@ViewBag.Title</h2>
    </header>
}

@{
    var resourceUrl = Url.Content("~/client/data/");    
}

@*<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div></div>
        </div>
    </div>
</div>*@
<div class="full-screen" id="map" data-resourceUrl="@Url.Content("~/Client/data")">
</div>
<div class="overlay search-box col-md-4 col-xs-8">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" id="facilityName" name="facilityName" class="form-control" placeholder="Facility name" />
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="facility-modal" tabindex="-1" role="dialog" aria-labelledby="facilityDetail"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="facilityDetail">Facility Detail</h4>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    <!-- ko foreach: $root -->
                    <a href="#" class="list-group-item">
                        <strong data-bind="text: $data['Residential Unit']"></strong>
                        <p>
                            <span>Unit:&nbsp;</span><span data-bind="text: $data.UNIT"></span><br />
                            <span>Phone:&nbsp;</span><span data-bind="text: $data.TEL"></span><br />
                            <span>Department:&nbsp;</span><span data-bind="text: $data.DEPARTMENTS"></span><br />
                            <span>Tenant:&nbsp;</span><span data-bind="text: $data.TENANTS"></span><br />
                            <span>Account:&nbsp;</span><span data-bind="text: $data.ACCOUNT"></span>
                        </p>
                    </a>
                    <!-- /ko -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section footerContent {
    
}

@section scripts{
    <script src="~/Client/jsLib/knockoutjs/knockout-3.0.0.js"></script>
    <script src="~/Client/jsLib/knockoutjs/knockout.mapping-latest.debug.js"></script>
    <script src="~/Client/jsLib/leaflet-0.7.2/leaflet.js"></script>
    @*<script src="~/Client/jsLib/leaflet-0.7.2/leaflet-src.js"></script>*@
    <script src="~/Client/jsLib/wicket-leaflet/wicket.js"></script>
    <script src="~/Client/jsLib/esri-leaflet/esri-leaflet.js"></script>
    <script src="~/Client/jsLib/wicket-leaflet/wicket-leaflet.js"></script>
    <script src="~/Client/jsLib/leaflet.awesome-markers/leaflet.awesome-markers.min.js"></script>
    <script src="~/Client/js/dx/dx.min.js"></script>
    <script src="~/Client/js/dx/map/mapViewer.js"></script>
    <script src="~/Client/js/dx/map/leafletViewer.js"></script>
    <script src="~/Client/js/apps/residenceLocator/store/facility.js"></script>
    <script src="~/Client/js/apps/residenceLocator/store/residence.js"></script>
    <script src="~/Client/js/apps/residenceLocator/controller/map.js"></script>
    <script src="~/Client/js/apps/residenceLocator/view/map.js"></script>
    <script src="~/Client/js/apps/residenceLocator/app.js"></script>
}